/*.container{height: 575px;
        width: 1500px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border: 150px solid black;
        font-family: sans-serif;
        border: black;}*/

.item{
        margin: 13px;
        width: 200px;
        height: 80px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-family: sans-serif;}

.text{line-height: 36px;
        text-align: center;}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 89vh;
}


a{text-decoration: none;
color: white;}
a:hover{border-bottom: 2px solid;
        color: white;}

.sticker{display: flex;
justify-content: center;
}
/*transform: translate(0px,-204px);}*/


.circle1{margin: 13px;
        width: 200px;
        height: 80px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
/*        left: 1000px;*/
        font-family: sans-serif;}










