body{
  background-color: white;
  color: black;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  margin-top: 360px;
}

