body{overflow-x: hidden;
	background-size: 100%;}

.line{border: 1px solid black;
	width: 100%;
	margin: 0 auto;
	margin-top: 1vh;}

.top{font-size: 20px;
	top: 50%;
	font-family: sans-serif;
	text-align: center;
	color: black;}


.wrapper{	
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;}

.laptop{
	height: 110vh;
	margin: 0;
	width: 270%;
	max-width: 1200px;
	position: relative;
	display: flex;
	left: 55px;
	justify-content: center;
	align-items: center;}

.background {
	position: absolute;
	display: flex;
	width: 57.6%;
	height: 70%;
	align-items: center;
	top: 20.9%;
	left: 21.2%;
}

.hover-img{
	position: absolute;
	display: flex;
	width: 57.65%;
	height: 69%;
	align-items: center;
	top: 21.75%;
	left: 21.15%;
}

img{width: 100%;
	transition: all linear 0.1s;}

img.hover-img{
	position: absolute;
	opacity: 0;
}

.box:hover img{
	opacity: 0;
}

.box:hover img.hover-img{
	opacity: 1;
}

.bottom{width: 110px;
	height: 45px;
	background-color: #282828;
	transform: translate(-600px,460px);
	border-radius: 25%;
	color: #6a6a6a;
	font-family: sans-serif;
}
.bottom{display: flex;
	justify-content: center;
	align-items: center;
}

a{text-decoration: none;
color: white;}
a:hover{color: white;
		font-size: 1.08em;
		border-bottom: 2px solid;
		color: white;
		}

.line1{border: 1px solid white;
	width: 100%;
	margin: 0 auto;
	transform: translate(0px, 480px);}


