body{
	background-color: #FFF8DA;
	overflow-x: hidden;
	background-size: 100%;
	transform: translate(0px, 0px);
	}

.line{border: 1px solid #EF522E;
	width: 100%;
	margin: 0 auto;
	margin-top: 1vh;}

.top{font-size: 20px;
	top: 50%;
	font-family: sans-serif;
	text-align: center;
	color: #EF522E;}


.middle-box{
	width: 120px;
	height: 1510px;
	background-color: #EF522E;
	opacity: 0.9;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, 40px);
	z-index: 8;}

.days{color: white;
	font-family: 'Abril Fatface', serif;;
	text-align: center;
	z-index: 7;
	font-size: 20px;
	transform: translate(0px,-8px);}

img{position: absolute;}


.photo1{max-width: 14.5%;
		transform: translate(-20px,110px) rotate(5deg);}
.photo1:hover{animation: shake1 0.4s linear infinite;}

.photo2{max-width: 18%;
		transform: translate(60px,375px);}
.photo2:hover{animation: shake2 0.4s infinite;}

.photo3{max-width: 18%;
		transform: translate(400px,175px);
		z-index: 2}

.photo5{max-width: 20%;
		transform: translate(280px,336px) rotate(-40deg);}

.photo6{max-width: 18%;
		transform: translate(240px,90px);
		z-index: 1}

.photo7{max-width: 18%;
		transform: translate(100px,235px);}

.photo9{max-width: 21%;
		transform: translate(-53px,615px);}

.photo15{max-width: 14%;
		transform: translate(270px,885px);
		z-index: 4}

.photo17{max-width: 13%;
		transform: translate(460px,515px) rotate(-5deg);}

.photo19{max-width: 24%;
		transform: translate(228px,665px) rotate(10deg);}

.photo22{max-width: 16%;
		transform: translate(430px,805px) rotate(5deg);}

.photo25{max-width: 29%;
		transform: translate(-50px,955px);
		z-index:3}

.photo21{max-width: 24.5%;
		transform: translate(190px,1105px) rotate(-5deg);
		z-index: 5;}

.photo27{max-width: 19%;
		transform: translate(350px,1295px) rotate(15deg);
		z-index: 6}

.photo29{max-width: 25%;
		transform: translate(-40px,1180px);}		



.photo4{max-width: 18%;
		transform: translate(1250px,100px);}

.photo10{max-width: 19%;
		transform: translate(1245px,360px) rotate(15deg);}

.photo11{max-width: 19%;
		transform: translate(1000px,200px);}

.photo12{max-width: 17%;
		transform: translate(830px,400px);}

.photo13{max-width: 14%;
		transform: translate(1000px,80px) rotate(45deg);}

.photo16{max-width: 20%;
		transform: translate(950px,690px);}

.photo18{max-width: 18%;
		transform: translate(1050px,440px) rotate(-10deg);}

.photo20{max-width: 13%;
		transform: translate(830px,110px);}

.photo23{max-width: 15%;
		transform: translate(850px,890px);}

.photo14{max-width: 14.5%;
		transform: translate(1278px,600px) rotate(5deg);}

.photo28{max-width: 18%;
		transform: translate(1180px,950px);}

.photo26{max-width: 19%;
		transform: translate(860px,1140px) rotate(-10deg);}

.photo32{max-width: 15%;
		transform: translate(1150px,1350px);
		z-index: 2}

.photo8{max-width: 16.5%;
		transform: translate(1000px,1040px);}

.photo24{max-width: 22%;
		transform: translate(1250px,1050px);\
		z-index: 1}


.bottom{font-size: 20px;
		bottom: 50%;
		transform: translate(0px, 220px);
		font-family: sans-serif;
		text-align: center;
		color: #EF522E;}


.end{;
	font-size: 40px;
	color: #EF522E;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	transform: translate(0px,1750px);
	line-height: 0.8}


/*.sticker{position: absolute;}*/

a{font-size: 22px;
color: black;
font-family: sans-serif;
text-decoration: none;}
a:hover{color: white;}

.wrapper {
/*	max-width:960px; */
}

.sticker {
	display:flex;
	justify-content:center;
	font-weight: 500;
}

.circle1{width: 190px;
        height: 140px;
        background-color: #f7d5d7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
/*        position: absolute;*/
/*        transform: translate(250px,1778px);*/
        font-size: 22px;
        font-family: sans-serif;
        }
.link1:hover{border-bottom: 2px solid;
			color: white;
}

.circle2{width: 260px;
		height: 110px;
		background-color: #2BAE66;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(400px,1770px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link2:hover{border-bottom: 2px solid;
			color: white;
}

.circle3{width: 230px;
		height: 90px;
		background-color: #8AAAE5;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(650px,1855px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link3:hover{border-bottom: 2px solid;
			color: white;
}


.circle4{width: 200px;
		height: 100px;
		background-color: #D1E26A;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(800px,1775px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link4:hover{border-bottom: 2px solid;
			color: white;
}


.circle5{width: 170px;
		height: 90px;
		background-color: #E56B45;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(1010px,1810px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link5:hover{border-bottomc: 2px solid;
			color: white;
}



.bottom{font-size: 20px;
		font-family: sans-serif;
		text-align: center;
		color: #F96167;
		transform: translate(0px,1877px);
	}


.bottom1{font-size: 20px;
color: #EF522E;
font-family: sans-serif;
text-decoration: none;}
.bottom1:hover{color: white;}


.line2{border: 1px solid #FFF8DA;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 238vh;
/*	transform: translate(0px, 1884.7px);*/
}

.line3{border: 1px solid #EF522E;
	width: 100%;
	padding-bottom: 0 auto;
/*	transform: translate(0px, 1885px);*/
}
