body{background: #FBEAEB;
   	 max-width: 100%;
     overflow-x: hidden;}

img{max-width: 65%;
	position: absolute;
	justify-content: center;
	top: 270px;
	left: 270px;}


.line{border: 1px solid #2F3C7E;
	width: 100%;
	margin: 0 auto;
	margin-top: 1vh;
}

.top{font-size: 20px;
	top: 30px;
	font-family: sans-serif;
	text-align: center;
	color: #2F3C7E}

.imgage1:hover:after{
	transform: scale(1.1);
	cursor: pointer;
	content: url('imgs/eyee-02.png');}

.sleeping{position: absolute;
		  top:980px;
		  left: 100px;
		  font-family: 'Space Grotesk', sans-serif;
		  font-weight: 400;
		  font-size: 35px;
		  color: #2F3C7E}

.box1{width: 590px;
	height: 500px;
	border: 2px solid;
	border-color: #2F3C7E;
	transform: translate(90px,1000px);
	top: 1080px;
 	left: 300px;}

.box1text{font-size: 23px;
   		  font-weight: 300;
    	  font-family: 'Space Grotesk', sans-serif;
		  transform: translate(115px,500px);}

.timetable{position: absolute;
		top:980px;
		left: 763px;
		font-family: 'Space Grotesk', sans-serif;
		font-weight: 400;
		font-size: 35px;
		color: #2F3C7E;}

table{width: 650px;
	height: 500px;
	border-collapse: collapse;
	transform: translate(750px,213px);}

td{padding: 10px; 
    border: 2px solid #2F3C7E;
    text-align: center; 
    background-color: #FBEAEB;
    color: #333;
    font-size: 16px;
	font-family: 'Space Grotesk', sans-serif;}

td.hoverable:hover{
	background-color: #2F3C7E;
	color:#FBEAEB;
	font-size: 1.5em;
}

.box2{width: 2000px;
	height: 400px;
	border: 2px solid;
	border-color: #FBEAEB;
	background-color: #2F3C7E;
	transform: translate(-10px,315px);
	top: 900px;
 	left: 300px;}

.note{transform: translate(437px,-72px);
	  font-size: 24px;
	  color:#FBEAEB;
	  font-family: 'Space Grotesk', sans-serif;
}

.line2{border: 1px solid#FBEAEB;
	width: 43%;
	margin: 7auto;
	margin-top: 10vh;
	transform: translate(-121px,-135px);}

.note2{transform: translate(550px,-49px);
	  font-size: 24px;
	  color:#FBEAEB;
	  font-family: 'Space Grotesk', sans-serif;

	}


.end{transform: translate(-550px,110px);
	  font-size: 40px;
	  color:#2F3C7E;
	  font-family:sans-serif;
	  font-weight: bold;
	  text-align: center;
	  line-height: 0.8}



a{font-size: 22px;
color: black;
font-family: sans-serif;
text-decoration: none;
}
a:hover{color:white;}

.sticker {display: flex;
	margin-top: 160px;
}

.circle1{width: 190px;
        height: 140px;
        background-color: #f16646;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        margin-left: -350px;
/*        position: absolute;*/
/*        transform: translate(250px,1778px);*/
        font-size: 22px;
        font-family: sans-serif;
        }
.link1:hover{border-bottom: 2px solid;
			color: white;
}

.circle2{width: 260px;
		height: 110px;
		background-color: #2BAE66;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(400px,1770px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link2:hover{border-bottom: 2px solid;
			color: white;
}

.circle3{width: 230px;
		height: 90px;
		background-color: #8AAAE5;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(650px,1855px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link3:hover{border-bottom: 2px solid;
			color: white;
}


.circle4{width: 200px;
		height: 100px;
		background-color: #FC766A;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(800px,1775px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link4:hover{border-bottom: 2px solid;
			color: white;
}


.circle5{width: 170px;
		height: 90px;
		background-color: #D1E26A;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
/*		position: absolute;*/
/*		transform: translate(1010px,1810px);*/
		font-size: 22px;
		font-family: sans-serif;}
.link5:hover{border-bottom: 2px solid;
			color: white;
}


.line3{border: 1px solid #FBEAEB;
	width: 100%;
	margin: 0 auto;
	margin-top: 8vh;
}


.line4{border: 1px solid#2F3C7E;
	width: 100%;
	margin: 0 auto;
	margin-bottom:0vh;
/*	transform: translate(-550px,184px);*/
}

.bottom{font-size: 20px;
		font-family: sans-serif;
		text-align: center;
		color: #2F3C7E;
/*		transform: translate(-549px,40px);*/
		margin-bottom: 1vh;
		}

.home{font-size: 20px;
	color: #2F3C7E;
	font-family: sans-serif;
	text-decoration: none;}
.home:hover{color: white;}

@media(max-width:1000px){
	.timetable{
		font-size:35px;
		top: 1590px;
		left: 100px;
	}
	table{width: 600px;
		height: 450px;
		margin-top: 637px;
		margin-left: -660px}
	.note{
		margin-left: -360px;
	}
	.line2{
/*		margin-left: -350px;*/
	}
	.note2{margin-left: -350px;}
	.end{margin-left: 340px;
		line-height: 0.8;}
	}

@media(max-width:700px){
	.sleeping{font-size: 30px;
		top: 700px;
			left: 25px;}
	.box1{margin-left: -70px;
		width: 460px;
		height: 380px;
		margin-top: -285px;}
	.box1text{font-size: 18px;
		margin-left: -71px;
		margin-top: 140px;}
	.timetable{
		font-size: 30px;
		top: 1170px;
		left: 25px;
	}
	table{width: 600px;
		height: 450px;
		margin-top: 547px;
		margin-left: -730px}
	.note{
		margin-left: -420px;
	}
	.line2{
/*		margin-left: -350px;*/
	}
	.note2{margin-left: -420px;}
	.end{margin-left: 420px;
		line-height: 0.9;}
}


@media(max-width:600px){
	.timetable{
		font-size: 30px;
		top: 1170px;
		left: 25px;
	}
	table{width: 380px;
		height: 450px;
		margin-top: 547px;
		margin-left: -730px}
	.note{size: 18px;
		margin-left: -420px;
	}
	.line2{
/*		margin-left: -350px;*/
	}
	.note2{size: 18px;
		margin-left: -420px;}
	}
