body{background-color: #EFEFEF}

.one{text-decoration: none;
        color: black;}

.two{text-decoration: none;
        color: white;}

.feeling1{width: 800px;
         height: 90px;
         background-color: #FFFFFF;
         border-radius: 0%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: black;
         position: absolute;
         top: 0px;
         left: 0px;
         font-size: 38px;
         font-family: sans-serif;
        text-decoration: none;}
.link1:hover{
        border-bottom: 2px solid;
        color: black;}

.feeling2{width: 800px;
         height: 90px;
         background-color: #000000;
         border-radius: 0%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: white;
         position: absolute;
         top: 0px;
         right: 0px;
         font-size: 38px;
         font-family: sans-serif;
        text-decoration: none;}
.link2:hover{
        border-bottom: 2px solid;
        color: white;}


a{text-decoration: none;
 color: black;}

.circle1{width: 450px;
        height: 420px;
        background-color: #f7d5d7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        position: absolute;
        bottom: 60px;
        left: 50px;
        font-size: 38px;
        font-family: serif;
        text-decoration: none;
        }
.circle1:hover{border-bottom: 2px solid;
        color: black;}

.circle2{width: 350px;
         height: 250px;
         background-color: #D1E26A;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: black;
         position: absolute;
         top: 130px;
         left: 150px;
         font-size: 38px;
         font-family: cursive;
        text-decoration: none;}
.circle2:hover{border-bottom: 2px solid;
        color: black;}

.circle3{width: 400px;
         height: 400px;
         background-color: #2BAE66;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: black;
         position: absolute;
         bottom: 225px;
         left: 455px;
         font-size: 38px;
         font-family: monospace;
        text-decoration: none;}
.circle3:hover{border-bottom: 2px solid;
        color: black;}

.circle4{width: 450px;
         height: 450px;
         background-color: #8AAAE5;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: black;
         position: absolute;
         bottom: 65px;
         right: 10px;
         font-size: 38px;
         font-family: fantasy;
        text-decoration: none;}
.circle4:hover{border-bottom: 2px solid;
        color: black;}

.circle5{width: 650px;
         height: 230px;
         background-color: #f16646;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: black;
         position: absolute;
         bottom: 65px;
         left: 500px;
         font-size: 38px;
         font-family: cursive;
        text-decoration: none;}
.circle5:hover{border-bottom: 2px solid;
        color: black;} 

.circle6{width: 380px;
        height: 250px;
        background-color: #FC766A;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        position: absolute;
        top: 150px;
        right: 300px;
        font-size: 38px;
        font-family: sans-serif;
        text-decoration: none;
        }
.circle6:hover{border-bottom: 2px solid;
        color: black;}

